html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit; 
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    flex: 1 50%;
}
/* Program Sections */
.program__sections {
    display: flex;
    flex-flow: row wrap;   
}
.program__forms, .program__outputs {
    width: 50%;
    padding: 25px;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
}
.forms {
    font-size: 1.2em;
}
/* Inputs */
span {
    margin: 5px;
}
input.active {
    border: 1px solid black;
}
.edit {
    border: 0px;
    border-bottom: 1px solid black; 
    width: 35px;
    text-align: center;
}
/* Results */
.results__textarea {
    width: 100%;
    height: 80%;
    padding: 10px;
}